header{
    background-color:#333;
    width:100%;
    height: max-content;
    text-align: center;
}

#obsah{
    width:100%;
    background-color:white;
    height: max-content;
    
}

body{
   background-color: black;
   margin: auto; 
}


footer{
    width:960px;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color:black; 
    color: white;  
    display: flex;
    text-align: center;
    justify-content: space-between;
}

footer a{
  text-decoration: none;
  color: white;
}

footer img{
  width: 30px;
  height: 30px;
}


*{
    margin: auto;
}
#wrapper{
    width:960px;
    margin:0 auto;

}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: grey;
    color: black;
    
  }