body{
    margin: 0;
    background-color: #EAF2EF;
    font-family: 'Century Gothic',sans-serif;
    width: 1920px;
}

.team{
    background-color: #008DD5;
    height: 85px;
}

.pruh{
    background-color: #224870 ;
    background-image: url(obr1.jpg);   
    line-height: 1000px; 
    background-repeat: no-repeat;  
    background-size: cover; 
}

h1{
    text-align: center;
    color: #071013;
    font-size: 150px;
    -webkit-text-stroke: 2px white;
}

h2{
    padding-top: 10px;
    position: absolute;
    left: 450px;     
    font-family: 'Courier New', Courier, monospace;
    color:#071013;
    font-size: 35px;
    
}

h3{
    padding-bottom: 10px;
}

h4{
    position: absolute;;
    left: 450px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color:#071013;
}

img{
    position: absolute;
    left: 150px;
    padding-top: 15px; 
    padding-bottom: 15px;  
}

.clenovia{
    
     background-color: #008DD5;
     height: 350px;
     
 }

p{
    position: absolute;;
    left: 450px; 
    width: 1400px;  
    font-family: 'Century Gothic',sans-serif;
    color:#071013;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

#horny-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}   

#horny-footer ul {
    padding-top: 10px;
    text-align: center;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    line-height: 22px;
    font-size: 19px;
}

#spodny-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

#spodny-footer p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
}


