* {
    margin: 0;
    padding: 0;
}

#horny-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}   

#horny-footer ul {
    padding-top: 10px;
    text-align: center;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    line-height: 22px;
    font-size: 19px;
}

#spodny-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

#spodny-footer p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h3{
    padding-bottom: 10px;
}